@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background: url("./images/bg-pattern-top.svg") -101px -600px no-repeat,
    url("./images/bg-pattern-bottom.svg") 750px 550px no-repeat,
    radial-gradient(
      circle at 0% 61%,
      rgba(38, 180, 190, 1) 0%,
      rgba(26, 161, 173, 1) 100%
    );
    
}

.container{
    margin: 0 auto;
    text-align: center;
}

.c_secundario{
    max-width: 420px;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    margin: 1rem;
}

.c_secundario img{
    height: 260px;
}

.perfil img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #FFF;
    margin-top: -52px;
    margin-bottom: 20px;
}

.perfil h2{
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.perfil h2 span{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.perfil p{
    color: hsl(227, 10%, 46%);

}

.info{
    display: flex;
    justify-content: space-between; /*https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content   distribui o espaço entre e ao redor dos itens de conteúdo  */
    border-top: 1px solid hsla(227, 10%, 46%, 0.2);
    padding: 30px 50px;
    margin-top: 30px;
}
.info p.num{
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 5px;
    
}